<ul>
    <li><a href="/user/signup">Signup</a></li>
    <li><a href="/user/reset">Reset</a></li>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/logout">Logout</a></li>
    <%if(isAdmin){%>
        <li><a href="/user/genCodes">Gen Codes</a></li>
    <%}%>
</ul>