

<!-- <form action="/saveDoc" method="post">

    <input type="submit" value="Save">
</form> -->
<br>

<form action="/addAdvs" method="post" enctype="multipart/form-data">
    <textarea id="my-expressjs-tinymce-app" name="doc">Start Typing...</textarea>
    <input type="hidden" name="docName" id="docName" >
    <input type="hidden" id="saveMiddelware" value="/saveDoc">
    <input type="hidden" name="done" value="done">
    <label for="imageFileId"> Thumb:</label>
    <input type="file" accept="image/*" name="thumb" id="thumbId" required><br>
    <input type="submit" value="Done&Save">
</form> 

</body>

<!-- Script element sourcing TinyMCE -->
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src= "/js/tinymce-config.js"></script>

<script>
    const docName = `d${Date.now()}`
    document.getElementById("docName").value = docName;
    // document.getElementById("docName2").value = docName;
</script>