
<% if(isAdmin) {%>
    <button id='btnAddNode' style='user-select: none; color: red'>&#10133;</button>
    <button id='btnRemNode' style='user-select: none; color: red'>&#10134;</button>
    <button id='btnClearTree' style='user-select: none; color: red'>❌</button><br />
<%}%>

<ul class='tree-editor-root' style='display: inline-block;width: 30%; vertical-align: top;' id='tree-root'>

</ul>

<div class='dec-viewer' id='dec-viewer'>

</div>


<script>
    const root = document.getElementById('tree-root');
    const treeEditor = new TreeEditor(root);
    root.addEventListener('click', onTreeClicked);

    function onTreeClicked(event) {
        const selectedNode = treeEditor.selectNode(event.target);
        selectedNodeChanged(selectedNode);
    }

    function selectedNodeChanged(selectedNode) {
        if (selectedNode != null && selectedNode.childNodes.length >= 2) {
            document.getElementById('dec-viewer').innerHTML = selectedNode.lastChild.innerHTML;
        }
    }
    
    document.addEventListener('DOMContentLoaded', function (event) {
        readTreeDataJson();
    });

    function readTreeDataJson() {
        // '/schooldir/data.json'
        fetch('/data/schooldir.json')
            .then(function (response) {
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
                return response.json();
            })
            .then(function (data) {
                treeEditor.loadObj(data);
            })
            .catch(function () {
                this.dataError = true;
            });
    }
</script>


<% if(isAdmin) {%>
<dialob-box id='dialogBox01'>
    <h2>Add Node</h2>
    <label for='caption'>Caption</label><br>
    <input type='text' name='caption' id='txt_caption'><br>
    <label for='description'>Description</label><br>
    <textarea name='description' id='descView' cols='30' rows='10'></textarea>
</dialob-box>

<br>
<button id='btnSaveTree'>Save 💾</button>

<script>

    const dialogBox = document.getElementById('dialogBox01');

    const btnRemNode = document.getElementById('btnRemNode');
    const btnClearTree = document.getElementById('btnClearTree');
    const btnAddNode = document.getElementById('btnAddNode');
    const btnSaveTree = document.getElementById('btnSaveTree');

    btnRemNode.addEventListener('click', onRemoveNode);
    btnClearTree.addEventListener('click', onClearTree);
    btnAddNode.addEventListener('click', onAddNode);

    async function onAddNode(event) {
        event.preventDefault();
        try {
            const result = await dialogBox.showDialog();
            treeEditor.addItem(result.caption, result.description);
            console.log('LeavePageConfirmer.isDirty');
            LeavePageConfirmer.IsDirty = true;
        } catch (error) {
            console.log(error);
        }
    }

    function onClearTree(event) {
        treeEditor.clearTree();
        LeavePageConfirmer.IsDirty = true;
    }

    function onRemoveNode(event) {
        treeEditor.removeSelectedNode();
        LeavePageConfirmer.IsDirty = true;
    }

    btnSaveTree.addEventListener('click',  saveTree);

    function saveTree(e) {

        //Obj of data to send in future like a dummyDb
        const data = { tree: treeEditor.traverseRoot() };


        // POST request with body equal on data in JSON format
        fetch('/schooldir', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                LeavePageConfirmer.IsDirty = false;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>
<%}%>

