:root {

    --fh-bg-color: rgb(237, 237, 238);
    --main-bg-color: rgb(216, 216, 255);
    --nav-bg-color: rgb(226, 222, 222);
    --blur-bg-color: rgb(202, 165, 202);
    --menu-bg-color:  rgb(236, 230, 230);
    --horz-bg-color: lightblue;
}