:root {
    --main-font: Helvetica, Arial, sans-serif;
    --fh-bg-color: rgb(190, 156, 93);
    --main-bg-color:rgb(248, 189, 78);
    --main-color:rgb(7, 66, 177);
    --nav-bg-color: rgb(247, 223, 179);
    --blur-bg-color: rgb(255, 235, 197);
    --menu-bg-color: rgb(219, 203, 172);
    --horz-bg-color: orange;
} 