.treeViewContiner{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}

.treeView { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.caret,
.node-content {
    cursor: pointer;
    user-select: none;
}


.caret::before {
    content: '◁';
    /*\25B6, ▶, ▷, ◁, ◀ */
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.selected-node {
    background-color: #6e6eff;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    list-style-type: none;
}

.activeul {
    display: block;
}

.listContiner {
    max-width: 15em;
    min-width: 5em;
    min-height: 5em;
    resize: both;
    overflow: auto;
    box-shadow: 0.5em 0.5em 0.5em lightgray;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.listItem {
    user-select: none;
    display: block;
    border-radius: 1em;
    padding: 0.3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    box-shadow: 0.2em 0.2em 0.2em gray;
    text-align: center;
}

.listItem>.before {
    user-select: none;
    cursor: pointer;
    float: left;
    color: red;
    border: 1px solid red;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
}

.listItem>.before:hover {
    border: 2px solid black;
}
