<div class="signform-continar">

    <h3 class="welcomemsg">
        <%= welcome %>:
    </h3>
    <h3 class="welcomemsg">
        <%= userNameVal%>
    </h3>
            <form class="signform" action="" method="post">

                <button type="submit" class="submit">
                    <%=title%>
                </button>
            </form>
</div>
